@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: inherit;
    color: inherit;
  }
  
  button,
  input,
  select {
    font-family: inherit;
  }

  body {
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
    padding: 4px;
  
  }
  
  .my-transition{
    /* transition:max-height  ease-out; */
    transition: max-height 1s ease-in-out; 
    -o-transition:max-height 1s ease-in-out;
    -moz-transition:max-height 1s ease-in-out;
   -webkit-transition: max-height 1s ease-in-out;
  }